{% extends "blog/base.html" %}
{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p>Published on: {{ post.published_date }} by {{ post.author }}</p>
        <div>
            {{ post.content }}
        </div>
        {% if user.is_authenticated and user == post.author %}
            <div>
                <a href="{% url 'post_update' post.pk %}">Edit</a>
                <a href="{% url 'post_delete' post.pk %}">Delete</a>
            </div>
        {% endif %}
    </article>
{% endblock %}